@using Newtonsoft.Json
@using ResumeMaker.Controllers
@using ResumeMaker.Data.Models.Core
@using ResumeMaker.Enums
@model List<Experience>

<div id="ExperienceViewComponentWrapper" class="col-sm-12">
    <h3>
        Experience <small>
            @Component.Invoke("CudAction", typeof(ExperienceController), nameof(ExperienceController.GetFormForSaveAndUpdate),
                                "ExperienceViewComponentWrapper", new { id = 0, returnUrl = ViewHelper.CurrentUrl }, CudTypeEnum.Create, "")
        </small>
    </h3>
    @if (!Model.Any())
    {
        @Component.Invoke("CudAction", typeof(ExperienceController), nameof(ExperienceController.GetFormForSaveAndUpdate),
                                "ExperienceViewComponentWrapper", new { id = 0, returnUrl = ViewHelper.CurrentUrl }, CudTypeEnum.Create, "Add Experience")
    }
    else
    {
        foreach (var exp in Model)
        {
            <div class="col-sm-10">
                <h3>
                    @exp.JobTitle
                    <small>
                        @Component.Invoke("CudAction", typeof(ExperienceController), nameof(ExperienceController.GetFormForSaveAndUpdate),
                                "ExperienceViewComponentWrapper", new { id = exp.Id, returnUrl = ViewHelper.CurrentUrl }, CudTypeEnum.Update, "")
                    </small>
                </h3>

            </div>
            <div class="col-sm-2 text-right">
                @exp.FromYear - @exp.ToYear
            </div>
            <div class="col-sm-10">
                @exp.OrganizationName

                <em>@exp.OrganizationCity,@exp.OrganizationCountry </em>
                <br />
                <em>@exp.Description</em>
                <br />
                @Component.Invoke("JobDescription", exp.Id)
                <br />
                @Component.Invoke("KeyAccomplishment", exp.Id)

            </div>
            <div class="col-sm-2 text-right">
                @Component.Invoke("CudAction", typeof(ExperienceController), nameof(ExperienceController.Delete), exp.Id)
            </div>
        }
    }
</div>
