@using Newtonsoft.Json
@using ResumeMaker.Controllers
@using ResumeMaker.Data.Models.Core
@model List<Experience>

<div id="ExperienceViewComponentWrapper" class="col-sm-12">
    <h3>
        Experience <small>
            <a style="cursor: pointer" id="AddExperienceIcon"
               asp-get-form-ajax="true"
               asp-get-form-controller-type=@typeof(ExperienceController)
               asp-get-form-action="@nameof(ExperienceController.GetFormForSaveAndUpdate)"
               data-target-element-id="ExperienceViewComponentWrapper">
                <i class="fa fa-plus"></i>
            </a>
        </small>
    </h3>
    @if (!Model.Any())
    {
        <a asp-get-form-ajax="true"
           asp-get-form-controller-type=@typeof(ExperienceController)
           asp-get-form-action="@nameof(ExperienceController.GetFormForSaveAndUpdate)"
           data-target-element-id="ExperienceViewComponentWrapper"
           class="add-experience btn btn-link">
            Add Experience
        </a>
    }
    else
    {
        foreach (var exp in Model)
        {
            <div class="col-sm-10">
                <h3>
                    @exp.JobTitle
                    <small>
                        <a style="cursor: pointer" id="EducationEditIcon"
                           asp-get-form-ajax="true"
                           asp-get-form-controller-type=@typeof(ExperienceController)
                           asp-get-form-action="@nameof(ExperienceController.GetFormForSaveAndUpdate)"
                           data-target-element-id="ExperienceViewComponentWrapper"
                           data-get-form-params="@JsonConvert.SerializeObject(new { id = exp.Id})"><i class="fa fa-pencil"></i></a>
                    </small>
                </h3>

            </div>
            <div class="col-sm-2 text-right">
                @exp.FromYear - @exp.ToYear
            </div>
            <div class="col-sm-10">
                @exp.OrganizationName

                <em>@exp.OrganizationCity,@exp.OrganizationCountry </em>
                <br />
                <em>@exp.Description</em>
                <br />
                @Component.Invoke("JobDescription", exp.Id)
                <br />
                @Component.Invoke("KeyAccomplishment", exp.Id)

            </div>
            <div class="col-sm-2 text-right">
                <form asp-action="Delete" asp-controller="Experience" method="POST" role="form" form form-horizontal asp-route-id="@exp.Id" id="">
                    <div style="opacity: 0.5">
                        <button class="btn btn-link" type="submit">
                            <i class="fa fa-remove fa-lg" title="Delete this work experience record."></i>
                        </button>
                    </div>
                </form>

            </div>
        }
    }
</div>
