@using ResumeMaker.Common.Extensions
@model ResumeMaker.Data.Models.Core.ContactDetails


@{
    var formFunction = Model?.Id > 0 ? "Update" : "Add";
}

<div id="ContactViewWrapper" class="form-toggle-wrapper col-sm-12">
    <div class="ContactView form-toggle">
        @if (@Model != null)
        {

            <h2>
                @Model.GetFullName()
                <small><i class="btn btn-link fa fa-edit form-toggle-button"></i></small>
            </h2>
            <address>
                @Model.StreetAddress
                <br />
                @Model.Suburb, @Model.State, @Model.Country<br />
                @User.GetEmail()<br />
                @if (!string.IsNullOrWhiteSpace(Model.MobileNum))
                {<text>Mob:</text>
                @Model.MobileNum<br />
                }
                @if (!string.IsNullOrWhiteSpace(Model.TelephoneNum))
                {<text>Tel:</text>
                @Model.TelephoneNum
                <br />
                }

            </address>
        }
        else
        {
            <h3>
                Contact Details
                <small><i class="fa fa-plus btn btn-link form-toggle-button"></i></small>
            </h3>
            <a class="btn btn-link form-toggle-button">
                @formFunction Contact Details
            </a>
        }
    </div>

    <div id="ContactForm" style="display: none" class="form-toggle">
        <form asp-controller="Home" asp-action="AddUpdateContact" class="form form-horizontal" role="form">
            <fieldset>
                <legend>
                    @formFunction Contact
                </legend>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" value="@User.GetId()" />
                <div class="form-group">
                    <label asp-for="FirstName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <label asp-for="LastName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StreetAddress" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="StreetAddress" class="form-control" />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>

                    <label asp-for="Suburb" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="Suburb" class="form-control" />
                        <span asp-validation-for="Suburb" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <label asp-for="Country" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TelephoneNum" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="TelephoneNum" class="form-control" />
                        <span asp-validation-for="TelephoneNum" class="text-danger"></span>
                    </div>
                    <label asp-for="MobileNum" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="MobileNum" class="form-control" />
                        <span asp-validation-for="MobileNum" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="GithubUrl" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="GithubUrl" class="form-control" />
                        <span asp-validation-for="GithubUrl" class="text-danger"></span>
                    </div>
                    <label asp-for="FacebookUrl" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="FacebookUrl" class="form-control" />
                        <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LinkedinUrl" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="LinkedinUrl" class="form-control" />
                        <span asp-validation-for="LinkedinUrl" class="text-danger"></span>
                    </div>
                    <label asp-for="TwitterUrl" class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <input asp-for="TwitterUrl" class="form-control" />
                        <span asp-validation-for="TwitterUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="@formFunction" class="btn btn-default main-bg-color" />
                        <button value="refresh" asp-refresh class="btn btn-default main-bg-color refresh"></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>