@using System.Threading.Tasks
@model ResumeMaker.ViewModels.ProfileViewModel

<div class="col-sm-12">
    @{
        var userId = Model.UserId;

    }

    <div id="ResumeDiv">
        <section id="ContactSection" class="row">
            @Component.Invoke("Contact", userId)
        </section>
        <hr />
        <section id="SummarySection" class="row">
            @Component.Invoke("Summary", userId)
        </section>
        <hr />
        <section id="ObjectiveSection" class="row">
            @Component.Invoke("Objective", userId)
        </section>
        <hr />
        <section id="EducationSection" class="row">
            @Component.Invoke("Education", userId)
        </section>
        <hr />
        <section id="CareerHistorySection" class="row">
            @Component.Invoke("Experience", userId)
        </section>
        <hr />
        <section id="SkillsSections" class="row">
            @Component.Invoke("Skill", userId)
        </section>
        <hr />
        <section id="PersonalDetailsSections" class="row">
            @Component.Invoke("PersonalDetail", userId)
        </section>
    </div>

</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
